In [4]:
a = [1, 2, 3, 4]
for i in a:
    print(i, end = " ")

1 2 3 4

In [5]:
a = [1, 2, 3, 4]
for i in a[::-1]: # REVERSE
    print(i, end = " ")

4 3 2 1

In [6]:
a = (1, 2, 3, 4)
for i in a[::-1]: # Reverse
    print(i, end = " ")

4 3 2 1

In [7]:
a = "Akhil"
for i in a[::-1]: # Reverse
    print(i, end = " ")

l i h k A

In [8]:
a = 123
for i in a[::-1]: # Reverse
    print(i, end = " ")

TypeError: 'int' object is not subscriptable

In [11]:
a = 5
for i in range(a)[::-1]: # Reverse
    print(i, end = " ")

4 3 2 1 0

In [15]:
a = False
for i in range(a):
    print(i, end = " ")

In [14]:
a = True
for i in range(a):
    print(i, end = " ")

0

In [16]:
a = True
for i in a:
    print(i, end = " ")

TypeError: 'bool' object is not iterable

In [17]:
a = False
for i in a:
    print(i, end = " ")

TypeError: 'bool' object is not iterable

In [18]:
a = {"name": "Akhil", "age": 25}
for i in a:
    print(i, end = " ")

name age

In [19]:
a = {"name": "Akhil", "age": 25}
for i in a.values:
    print(i, end = " ")

TypeError: 'builtin_function_or_method' object is not iterable

In [23]:
a = {1, 2, 3,259, 36, "dgdhgd", 4, }
for i in a:
    print(i, end = " ")

dgdhgd 1 2 259 3 36 4

In [24]:
a = {"name": "Akhil", "age": 27}
for i in a.values():
    print(i, end = " ")

Akhil 25

In [26]:
a = {"name": "Akhil", "age": 27}
for i, j in a.items():
    print(i, j)

name Akhil
age 27